# Glassbox – production environment
# Script source: https://cdn.gbqofs.com/finance_ministry/p/detector-dom.min.js
VITE_GLASSBOX_SCRIPT_SRC_PROD=

# Glassbox – production report URI (full URL up to and including /cls_report)
# Example: https://report.gb-pov.gbqofs.io/rcqgqx3o/reporting/<PROD_GUID>/cls_report
VITE_GLASSBOX_REPORT_URI_PROD=

# Glassbox – dev/test environment
# Script source: https://cdn.gbqofs.com/finance_ministry/u/detector-dom.min.js
VITE_GLASSBOX_SCRIPT_SRC_DEV=

# Glassbox – dev/test report URI (full URL up to and including /cls_report)
# Example: https://report.gb-pov.gbqofs.io/rcqgqx3o/reporting/<DEV_GUID>/cls_report
VITE_GLASSBOX_REPORT_URI_DEV=
